@import './fonts';
@import './index';
@import './header';

html, body{
  height:100%;
  width:100%;
  font-family: 'Montserrat' !important; 
}
.elementClassElement{
  color:blue;
}
.absolute {
  position: absolute;
}